## Series

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
obj = Series([3,6,8,12])
obj.values

array([ 3,  6,  8, 12], dtype=int64)

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
ww2_cas = Series([87000,43000,3000,21000,4000],index=['USSR','Germany','China','Japan','USA'])

In [6]:
ww2_cas['USA']

4000

In [7]:
ww2_cas[ww2_cas > 4000]

USSR       87000
Germany    43000
Japan      21000
dtype: int64

In [8]:
'USSR' in ww2_cas

True

Series to Dictionary

In [9]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 87000, 'Germany': 43000, 'China': 3000, 'Japan': 21000, 'USA': 4000}

In [10]:
ww2_series = Series(ww2_dict)

In [11]:
ww2_series

USSR       87000
Germany    43000
China       3000
Japan      21000
USA         4000
dtype: int64

In [12]:
countries = ['China','Germany','Japan','USA','USSR','Argentina'] #Argentina not in ww2_dict
obj2 = Series(ww2_dict,index=countries)

In [13]:
obj2

China         3000.0
Germany      43000.0
Japan        21000.0
USA           4000.0
USSR         87000.0
Argentina        NaN
dtype: float64

In [14]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [15]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [17]:
ww2_series

USSR       87000
Germany    43000
China       3000
Japan      21000
USA         4000
dtype: int64

In [18]:
obj2

China         3000.0
Germany      43000.0
Japan        21000.0
USA           4000.0
USSR         87000.0
Argentina        NaN
dtype: float64

In [19]:
ww2_series + obj2

Argentina         NaN
China          6000.0
Germany       86000.0
Japan         42000.0
USA            8000.0
USSR         174000.0
dtype: float64

In [20]:
obj2.name = "World War 2 Casualties"
obj2

China         3000.0
Germany      43000.0
Japan        21000.0
USA           4000.0
USSR         87000.0
Argentina        NaN
Name: World War 2 Casualties, dtype: float64

In [21]:
obj2.index.name = "Countries"
obj2

Countries
China         3000.0
Germany      43000.0
Japan        21000.0
USA           4000.0
USSR         87000.0
Argentina        NaN
Name: World War 2 Casualties, dtype: float64