In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser2 = ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [8]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ranger = range(15)
ser3 = ser3.reindex(ranger,method='ffill')
ser3

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [11]:
#DataFrame Re-indexing
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
#reshape((5,5)) random numbers of an 5x5 array
dframe

       col1      col2      col3      col4      col5
A  1.726279  0.399208 -0.206808  0.837601  0.942574
B -1.150117 -1.426988 -0.143337 -0.112069 -0.052064
D  0.535684  1.052571  0.008699 -1.088615 -0.619882
E  0.512969  0.438532 -0.078294  0.984119 -1.344714
F  1.572790  0.061981  0.499439  1.462859 -1.619838

In [13]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  1.726279  0.399208 -0.206808  0.837601  0.942574
B -1.150117 -1.426988 -0.143337 -0.112069 -0.052064
C       NaN       NaN       NaN       NaN       NaN
D  0.535684  1.052571  0.008699 -1.088615 -0.619882
E  0.512969  0.438532 -0.078294  0.984119 -1.344714
F  1.572790  0.061981  0.499439  1.462859 -1.619838

In [18]:
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2 = dframe2.reindex(columns=new_columns)
dframe2

       col1      col2      col3      col4      col5  col6
A  1.726279  0.399208 -0.206808  0.837601  0.942574   NaN
B -1.150117 -1.426988 -0.143337 -0.112069 -0.052064   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.535684  1.052571  0.008699 -1.088615 -0.619882   NaN
E  0.512969  0.438532 -0.078294  0.984119 -1.344714   NaN
F  1.572790  0.061981  0.499439  1.462859 -1.619838   NaN

In [19]:
dframe

       col1      col2      col3      col4      col5
A  1.726279  0.399208 -0.206808  0.837601  0.942574
B -1.150117 -1.426988 -0.143337 -0.112069 -0.052064
D  0.535684  1.052571  0.008699 -1.088615 -0.619882
E  0.512969  0.438532 -0.078294  0.984119 -1.344714
F  1.572790  0.061981  0.499439  1.462859 -1.619838

In [23]:
dframe2

       col1      col2      col3      col4      col5  col6
A  1.726279  0.399208 -0.206808  0.837601  0.942574   NaN
B -1.150117 -1.426988 -0.143337 -0.112069 -0.052064   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.535684  1.052571  0.008699 -1.088615 -0.619882   NaN
E  0.512969  0.438532 -0.078294  0.984119 -1.344714   NaN
F  1.572790  0.061981  0.499439  1.462859 -1.619838   NaN

In [28]:
print(dframe.reindex(['A','B','C','D','E','F'],columns=new_columns))

       col1      col2      col3      col4      col5  col6
A  1.726279  0.399208 -0.206808  0.837601  0.942574   NaN
B -1.150117 -1.426988 -0.143337 -0.112069 -0.052064   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.535684  1.052571  0.008699 -1.088615 -0.619882   NaN
E  0.512969  0.438532 -0.078294  0.984119 -1.344714   NaN
F  1.572790  0.061981  0.499439  1.462859 -1.619838   NaN